@{
    ViewData["Title"] = "Crear Pago";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

    <div id="app">
        <input type="hidden" id="endpoint" name="endpoint" value="@ViewBag.endpoint" />
        <input type="hidden" id="domain" name="domain" value="@ViewBag.domain" />

        <input type="hidden" id="PagoID" name="PagoID" value="@ViewBag.PagoID" />
        <input type="hidden" id="fondeador" name="fondeador" value="@ViewBag.fondeador" />
        <input type="hidden" id="producto" name="producto" value="@ViewBag.producto" />
        <input type="hidden" id="mochila" name="mochila" value="@ViewBag.mochila" />

        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <label for="fondeador">Fondeador: </label>
                    <input type="text" class="form-control" name="fondeador" id="fondeador" v-model="elFondeador" disabled />
                    <label for="producto">Producto: </label>
                    <input type="text" class="form-control" name="producto" id="producto" v-model="elProducto" disabled />
                </div>
                <div class="col-md-1">
                    <p><b>Disponible:</b></p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="condisponible" id="disponiblesi" :value="true" v-model="condisponible" @@change="Filtrar" checked>
                        <label class="form-check-label" for="disponiblesi">
                            Sí
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="condisponible" id="disponibleno" :value="false" v-model="condisponible" @@change="Filtrar">
                        <label class="form-check-label" for="disponibleno">
                            No
                        </label>
                    </div>
                </div>
                <div class="col-md-2">
                    <label for="desde"><b>Disponible desde - hasta:</b></label>
                    <input type="date" class="form-control" id="desde" v-model="desde" @@change="FiltrarFecha" />

                    <input type="date" class="form-control" id="hasta" v-model="hasta" @@change="FiltrarFecha" />
                </div>
                <div class="col-md-3">
                    <label for="desde"><b>Búsqueda ({{ query.trim() != 0 ? query.split("\n").length : 0}}):</b></label>
                    <textarea class="form-control" style="height:65px;width:100%" v-model="query" @@keyup="changeQuery">{{query}}</textarea>


                    <button :class="{'btn':true, 'btn-success':!loaderCuotas, 'btn-warning':loaderCuotas}"
                            style="width:100%;margin-top:10px"
                            @@click="Buscar"
                            :disabled="loaderCuotas">
                        {{loaderCuotas ? "Cargando Cuotas" : "Buscar"}}
                        <img v-if="loaderCuotas" src="~/img/loader.gif" height="15" width="15" alt="Loader image" />
                    </button>
                </div>



                <div class="col-md-2">

                </div>
                <div class="col-md-2">
                    <label for="suma" style="">Pago Total:</label>
                    <input type="text" id="suma" class="form-control" :value="suma" style="width:100%;" :disabled="true" />

                    @*<button class="btn btn-primary"
            style="width:100%;margin-top:15px"
            @@click="guardar"
            :disabled="loaderCuotas">Guardar</button>*@

                    <button class="btn btn-success"
                            style="width:100%;margin-top:15px"
                            @@click="guardar($event)"
                            :disabled="loaderGuardar">
                        {{loaderGuardar ? "Guardando..." : "Guardar"}}
                        <img v-if="loaderGuardar" src="~/img/loader.gif" height="15" width="15" alt="Loader image" />
                    </button>
                </div>
            </div>

            <hr style="margin-top:10px;margin-bottom:10px" />


            <div class="row">
                <div class="col-md-6" style="max-height:350px;overflow-y:auto">

                    <div v-if="loaderCreditos"
                         style="border:dashed 3px gray; height:350px;width:100%; display:flex; flex-direction:row; justify-content:center; align-items:center">
                        <p>
                            <img src="~/img/loader.gif" height="40" width="40" alt="Loader image" />
                            <b>Cargando cuotas por crédito... </b>
                        </p>
                    </div>

                    <div v-if="CreditosNoEncontrados">
                        <div id="alertaNoHayCreditos" class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>Alerta!</strong> No se encontraron créditos para estos filtros.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>

                    <div v-if="encontrados.length != 0">
                        <p>Resultado de búsqueda ({{encontrados.length}}). <a href="#" @@click="encontrados = []">Limpiar búsqueda</a></p>
                        <table id="tablaCreditos" style="font-size:10pt" class="table table-success table-sm table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <input type="checkbox"
                                               id="CheckAllEncontrados"
                                               v-model="CheckedAllEncontrados"
                                               @@change="ChangeCheckedEncontrados"
                                               :disabled="loaderCuotas"
                                               >

                                    </th>
                                    <th scope="col">CodigoFondeador</th>
                                    <th scope="col">ID</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Disponible</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="credito in encontrados" style="cursor:pointer;" @@click="verCuotas($event, credito)">
                                    <th scope="row">
                                        <input type="checkbox"
                                               :value="credito.codigoFondeador"
                                               v-model="checkedCreditos"
                                               @@change="ChangeChecked"                                               
                                               :disabled="loaderCuotas">
                                    </th>
                                    <th>{{credito.codigoFondeador}}</th>
                                    <th>{{credito.id || ''}}</th>
                                    <th>{{credito.nombres || ''}}</th>
                                    <th>{{formatMoney(credito.disponible) || 0}}</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <p>Créditos: <b>{{creditosFiltrados.length}}</b></p>
                    <table v-if="creditosFiltrados.length != 0" id="tablaCreditos" style="font-size:10pt" class="table table-sm table-hover table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">
                                    <input type="checkbox"
                                           id="CheckAll"
                                           @@click="CheckAll"
                                           v-model="CheckedAll"
                                           @@change="ChangeChecked"
                                               :disabled="loaderCuotas">
                                </th>
                                <th scope="col">CodigoFondeador</th>
                                <th scope="col">ID</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Disponible</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="credito in creditosFiltrados" style="cursor:pointer;" @@click="verCuotas($event, credito)">
                                <th scope="row">
                                    <input type="checkbox"
                                           :value="credito.codigoFondeador"
                                           v-model="checkedCreditos"
                                               :disabled="loaderCuotas">
                                </th>
                                <th scope="row">{{credito.codigoFondeador}}</th>
                                <th scope="row">{{credito.id || ''}}</th>
                                <th>{{credito.nombres || ''}}</th>
                                <th>{{formatMoney(credito.disponible) || 0}}</th>
                            </tr>
                        </tbody>
                    </table>


                </div>
                <div class="col-md-6" style="max-height:350px;overflow-y:auto">

                    <div style="width:100%" v-if="mochila || f == 2">
                        <div class="row">
                            <div class="col-md-12">
                                <b>Búsqueda de cuotas:</b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="cuotasHasta">Cuotas hasta:</label>
                                <input type="date" id="cuotasHasta" v-model="cuotasHasta" class="form-control" />
                            </div>
                            <div class="col-md-4">
                                <label>Estados:</label>
                                <div v-for="(estado,index) in estados">
                                    <input type="checkbox" :id="'estado' + index" :value="estado.valor" v-model="checkedEstados">
                                    <label :for="'estado' + index">{{estado.nombre}}</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-success btn-sm" style="width:100%" :disabled="checkedEstados.length == 0">Buscar</button>
                            </div>
                        </div>

                        <hr />
                    </div>

                    <div v-if="credito == ''"
                         style="border:dashed 3px gray; height:350px; width:100%; display:flex; flex-direction:row; justify-content:center; align-items:center">
                        <p>
                            <b>Selecciona un crédito para ver sus cuotas.</b>
                        </p>
                    </div>

                    <div v-if="credito != ''">
                        <p>Disponible: <b>{{formatMoney(credito.disponible)}}</b></p>

                        <div v-if="loaderCuotas" style="margin-top:5px">
                            <p>
                                <img src="~/img/loader.gif" height="25" width="25" alt="Loader image" />
                                <b>Buscando Cuotas...</b>
                            </p>
                        </div>

                        <table style="font-size:10pt" id="tablaCuotas" class="table table-sm table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">NroCuota</th>
                                    <th scope="col">Fec.Vcto.</th>
                                    <th scope="col">Estado</th>
                                    <th scope="col">Edo. Pago</th>
                                    <th scope="col">Monto</th>
                                    <th scope="col">Pagado</th>
                                    <th scope="col">Saldo</th>
                                    <th scope="col">A pagar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="cuota in cuotas.filter(x=>x.codigoFondeador == credito.codigoFondeador)"
                                    :class="{'table-danger': cuota.nEstadoCuota == 2, 'table-primary': cuota.nEstadoCuota == 1 }">
                                    <th scope="row">{{cuota.nNroCuota}}</th>
                                    <th>{{GetDate(cuota.dFecVcto)}}</th>
                                    <td>{{NEstadoCuota(cuota.nEstadoCuota)}}</td>
                                    <td>{{NEstado(cuota.nEstado)}}</td>
                                    <td>{{formatMoney(cuota.nCuotaMensual)}}</td>
                                    <td>{{formatMoney(cuota.pagado)}}</td>
                                    <td>{{formatMoney(cuota.saldo)}}</td>
                                    <td>
                                        <input type="text"
                                               class="form-control"
                                               name="name"
                                               style="font-size:10pt;max-width:100px"
                                               :value="cuota.aPagar"
                                               @@keyup="changeAPagar(cuota.codigoFondeador, cuota.nNroCuota, $event)" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>



            <div class="modal fade" id="confirmarGuardar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Confirmas que deseas guardar del pago de total <b>{{total}}</b>, integrado por las cuotas: </p>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary" @@click="guardar" data-dismiss="modal">Confirmar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modalMensaje" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Mensaje</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {{mensaje}}
                            <hr />
                            <ol>
                                <li v-for="item in lista">{{item}}</li>
                            </ol>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @section Scripts{

            <script>
                var vm = new Vue({
                    el: '#app',
                    data: {
                        checkedCreditos: [],
                        cuotas: [],
                        mochila:false,
                        loaderCuotas: false,
                        loaderGuardar: false,
                        loaderFondeador: false,
                        loaderProducto: false,
                        productos: [],
                        fondeadores: [],
                        api: "",
                        domain:"",
                        pagos: [],
                        PagoID: 0,
                        f: 1,
                        mensaje: "",
                        p: 2,
                        total: 0,
                        mensajeFondeadorProducto: "Debes seleccionar Fondeador y Producto antes de seleccionar",
                        pago: {
                            pagoID: "",
                            fechaCreacion: "",
                            fechaModificacion: "",
                            fechaConfirmacion: "",
                            monto: "",
                            cuotas: [],
                            confirmed: false
                        },
                        detalle: "",
                        seleccionadoTodo: "",
                        creditoDetallado: "",
                        creditos: [],
                        creditosFiltrados: [],
                        credito: "",
                        concof: false,
                        query: "",
                        lista: [],
                        encontrados: [],
                        condisponible: true,
                        fecha: new Date(),
                        loaderCreditos: false,
                        CreditosNoEncontrados: false,
                        loaderCuotas: false,
                        alertCuotasPorVencer: false,
                        CheckedAll: false,
                        CheckedAllEncontrados: false,
                        estados: [
                            {
                                valor: 1,
                                nombre: "Vigente"
                            },
                            {
                                valor: 2,
                                nombre: "Vencido"
                            }
                        ],
                        cuotasHasta: moment().format("YYYY-MM-DD"),
                        checkedEstados: [],
                        desde: "",
                        hasta: ""

                    },
                    methods: {
                        changeQuery: function () {
                            let arr = this.query.split('\n');
                            arr.forEach((item, index) => {
                                if (item.trim() == "")
                                    arr.splice(index, 1);
                            });
                            this.query = arr.join("\n");
                        },
                        ChangeChecked: async function () {
                            let faltantes = []

                            if (vm.cuotas.length == 0 && vm.checkedCreditos.length != 0)
                                faltantes = vm.checkedCreditos
                            else {
                                vm.checkedCreditos.forEach(e => {
                                    if (!vm.cuotas.map(a => a.codigoFondeador).includes(e)) {
                                        faltantes.push(e);
                                    }
                                })
                            }

                            if (faltantes.length != 0) {
                                var formData = new FormData();
                                formData.append('buscar', faltantes.join(','));
                                formData.append('cuotasHasta', '01-01-1999');
                                formData.append('estados', '0');

                                this.loaderCuotas = true;
                                let cuotasRes = await fetch(this.api + "Cuotas/GetCuotasFondeador", {
                                    method: 'POST',
                                    body: formData
                                }).then(x => x.json())
                                this.loaderCuotas = false;

                                cuotasRes.forEach(x => {
                                    x.saldo = x.nCuotaMensual - x.pagado;
                                    x.aPagar = 0;
                                });

                                cuotasRes.forEach(x => vm.cuotas.push(x));

                                this.creditos.forEach(c => {
                                    let d = c.disponible;
                                    vm.cuotas.filter(a => a.codigoFondeador == c.codigoFondeador).forEach(cu => {
                                        if (d >= cu.saldo) {
                                            cu.aPagar = parseFloat(cu.saldo.toFixed(2));
                                            d = d - cu.saldo;
                                        }
                                        else {
                                            cu.aPagar = parseFloat(d.toFixed(2));
                                            d = 0;
                                        }
                                    });
                                });
                            }

                        },
                        verCuotas: async function (event, credito) {
                            $(event.target).parent("tr").siblings().removeClass("table-primary");
                            $(event.target).parent("tr").addClass("table-primary");

                            if (vm.cuotas.filter(cu => cu.codigoFondeador == credito.codigoFondeador).length == 0) {
                                this.loaderCuotas = true;

                                var formData = new FormData();
                                formData.append('buscar', credito.codigoFondeador);
                                formData.append('cuotasHasta', '01-01-1999');
                                formData.append('estados', '0');

                                let cuotasRes = await fetch(this.api + "Cuotas/GetCuotasFondeador", {
                                    method: 'POST',
                                    body: formData
                                }).then(x => x.json());

                                if (!vm.cuotas.map(x => x.codigoFondeador).includes(cuotasRes.codigoFondeador)) {
                                    cuotasRes.forEach(x => {
                                        x.saldo = x.nCuotaMensual - x.pagado;
                                        x.aPagar = 0;
                                    });

                                    cuotasRes.forEach(x => vm.cuotas.push(x));

                                    this.creditos.forEach(c => {
                                        let d = c.disponible;
                                        vm.cuotas.filter(a => a.codigoFondeador == c.codigoFondeador).forEach(cu => {
                                            if (d >= cu.saldo) {
                                                cu.aPagar = parseFloat(cu.saldo.toFixed(2));
                                                d = d - cu.saldo;
                                            }
                                            else {
                                                cu.aPagar = parseFloat(d.toFixed(2));
                                                d = 0;
                                            }
                                        });
                                    });
                                }

                                this.loaderCuotas = false;
                            }

                            this.credito = credito;
                        },
                        changeAPagar: function (codigo, cuota, evento) {
                            let valor = $(evento.target).val();


                            let suma = this.cuotas.length != 0 ? this.cuotas
                                .cuotas.filter(y => y.codigoFondeador == codigo && y.nNroCuota != cuota)
                                .map(z => z.aPagar)
                                .reduce((a, b) => parseFloat(a) + parseFloat(b)) + parseFloat(valor) : 0;

                            if (suma > this.creditos.find(y => y.codigoFondeador == codigo).disponible) {
                                event.target.value = this.cuotas.find(y => y.codigoFondeador == codigo && y.nNroCuota == cuota).aPagar;
                                this.mensaje = "El monto suma en total, una cantidad mayor al disponible por este crédito.";
                                $("#modalMensaje").modal("show");
                            }
                            else {
                                this.cuotas.find(y => y.codigoFondeador == codigo && y.nNroCuota == cuota).aPagar = valor;
                            }
                        },
                        FiltrarFecha: async function () {

                            await this.mainSearch();
                        },
                        changeEstado: async function () {

                            await this.mainSearch();
                        },
                        Buscar: async function () {
                            if ($("#desde").val() != "" && $("#hasta").val() != "") {

                                this.encontrados = [];
                                let excluidos = [];
                                this.query.split("\n").forEach(query => {
                                    var search = new RegExp(query.trim().toUpperCase(), 'i');
                                    var res = this.creditos.find(x => search.test(x.codigoFondeador) || search.test(x.nombres) || search.test(x.id) || search.test(x.nCodCred.toString()));

                                    if (res != undefined) {
                                        if (this.creditosFiltrados.filter(x => x.codigoFondeador == res.codigoFondeador).length == 0) {
                                            excluidos.push(query)
                                        } else {
                                            this.encontrados.push(res)
                                        }
                                    }
                                    else {
                                        this.mensaje = "No se hallaron resultados";
                                        $("#modalMensaje").modal("show");
                                    }
                                });

                                if (this.encontrados.length != 0) {

                                    this.loaderCuotas = true;

                                    var formData = new FormData();
                                    formData.append('buscar', this.encontrados.map(x => x.codigoFondeador).join(","));
                                    formData.append('cuotasHasta', '01-01-1999');
                                    formData.append('estados', '0');

                                    let cuotasRes = await fetch(this.api + "Cuotas/GetCuotasFondeador", {
                                        method: 'POST',
                                        body: formData
                                    }).then(x => x.json());


                                    if (!vm.cuotas.map(x => x.codigoFondeador).includes(cuotasRes.codigoFondeador)) {
                                        cuotasRes.forEach(x => {
                                            x.saldo = x.nCuotaMensual - x.pagado;
                                            x.aPagar = 0;
                                        });

                                        cuotasRes.forEach(x => vm.cuotas.push(x));

                                        this.creditos.forEach(c => {
                                            let d = c.disponible;
                                            vm.cuotas.filter(a => a.codigoFondeador == c.codigoFondeador).forEach(cu => {
                                                if (d >= cu.saldo) {
                                                    cu.aPagar = parseFloat(cu.saldo.toFixed(2));
                                                    d = d - cu.saldo;
                                                }
                                                else {
                                                    cu.aPagar = parseFloat(d.toFixed(2));
                                                    d = 0;
                                                }
                                            });
                                        });
                                    }

                                    this.loaderCuotas = false;

                                }
                                if (excluidos.length != 0) {
                                    this.mensaje = "No se hallaron los siguientes créditos: ";
                                    this.lista = excluidos;
                                    $("#modalMensaje").modal("show");
                                }
                            }
                            else {
                                this.mensaje = "Define las fechas desde y hasta";
                                $("#modalMensaje").modal("show");
                            }
                        },
                        formatMoney: function (num) {
                            return num.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        },
                        GetDate: function (strDate) {
                            return moment(strDate).format("DD-MM-YYYY");
                        },
                        sumatoria: function () {
                            let res = 0;
                            this.cuotasFiltradas.filter(x => x.selected).forEach(x => {
                                res += x.aPagar;
                            });
                            this.total = res;
                        },
                        vigente: function (fecha) {
                            return fecha.getMonth() == (new Date()).getMonth();
                        },
                        formatDate: function (fecha) {
                            return moment(fecha).format("DD/MM/YYYY");
                        },
                        guardar: async function (event) {

                            this.loaderGuardar = false;

                            $(event.target).prop("disabled", true);
                            $(event.target).removeClass("btn-primary");
                            $(event.target).addClass("btn-warning");

                            let creditos = vm.creditosFiltrados
                                .filter(e => vm.checkedCreditos.includes(e.codigoFondeador))
                                .map(s => s.codigoFondeador);

                            let cuotas = vm.cuotas.filter(cu => creditos.includes(cu.codigoFondeador) && cu.aPagar != 0 && cu.aPagar != '');

                            var detalles = cuotas.map(x => {
                                var joined = [];
                                joined.push(x.codigoFondeador);
                                joined.push(x.nNroCuota);
                                joined.push(parseFloat(x.aPagar));
                                joined.push(false)

                                return joined.join(",")
                            });

                            let concat = detalles.join(";");

                            this.loaderGuardar = true;
                            var formData = new FormData();
                            formData.append('pagoID', 0);
                            formData.append('FondeadorID', vm.f);
                            formData.append('ProductoID', vm.p);
                            formData.append('Creador', JSON.parse(localStorage.getItem("usuario")).nombre);
                            formData.append('Pagos', concat);
                            formData.append('EsMochila', false);

                            let res = await fetch(this.api + "Pagos/Save", {
                                method: 'POST',
                                body: formData
                            }).then(response => response.json());

                            this.loaderGuardar = false;

                            $(event.target).prop("disabled", false);
                            $(event.target).removeClass("btn-warning");
                            $(event.target).addClass("btn-primary");

                            window.location.href = '@(ViewBag.domain+"Pagos")';
                        },
                        random: function (min, max) {
                            return Math.floor(Math.random() * max) + min;
                        },
                        NEstadoCuota: function (estadoCuota) {
                            switch (estadoCuota) {
                                case 1:
                                    return "Vigente";
                                case 2:
                                    return "Vencido";
                                case 3:
                                    return "Por Vencer";
                            }
                        },
                        NEstado: function (estadoCuota) {
                            switch (estadoCuota) {
                                case 0:
                                    return "Sin Pagar";
                                case 2:
                                    return "Pagada";
                            }
                        },
                        Filtrar: function () {
                            this.creditosFiltrados = []
                            vm.cuotas = [];
                            vm.checkedCreditos = [];

                            if (this.mochila) {
                                this.condisponible = false;
                                if (this.condisponible)
                                    this.creditosFiltrados = this.creditos.filter(x => x.nSubProd == vm.p && x.fondeador == vm.f && x.disponible != 0 && x.id == undefined);
                                else
                                    this.creditosFiltrados = this.creditos.filter(x => x.nSubProd == vm.p && x.fondeador == vm.f && x.disponible == 0 && x.id == undefined);

                                this.creditosFiltrados
                            } else {
                                if (this.condisponible)
                                    this.creditosFiltrados = this.creditos.filter(x => x.nSubProd == vm.p && x.fondeador == vm.f && x.disponible != 0 && x.id != undefined);
                                else
                                    this.creditosFiltrados = this.creditos.filter(x => x.nSubProd == vm.p && x.fondeador == vm.f && x.disponible == 0 && x.id != undefined);

                                this.creditosFiltrados
                            }


                            if (this.creditosFiltrados.length == 0)
                                this.CreditosNoEncontrados = true;
                            else
                                this.CreditosNoEncontrados = false;



                        },
                        mainSearch: async function () {
                            if ($("#desde").val() != "" && $("#hasta").val() != "") {
                                var formData = new FormData();
                                formData.append('desde', this.desde);
                                formData.append('hasta', this.hasta);

                                this.loaderCreditos = true;
                                let creditosRes = await fetch(this.api + "Creditos/CreditosFondeador", {
                                    method: 'POST',
                                    body: formData
                                })
                                    .then(response => response.json());

                                vm.creditos = creditosRes;

                                this.loaderCreditos = false;

                                this.Filtrar();
                            }
                        },
                        CheckAll: function () {
                            if (!this.CheckedAll)
                                this.creditosFiltrados.map(x => x.codigoFondeador).forEach(e => {
                                    vm.checkedCreditos.push(e);
                                });
                            else
                                vm.checkedCreditos = [];
                        },
                        ChangeCheckedEncontrados: function () {                            
                            if (this.CheckedAllEncontrados)
                                this.encontrados.map(x => x.codigoFondeador).forEach(e => {
                                    if (vm.checkedCreditos.filter(x => x.codigoFondeador == e).length == 0)
                                        vm.checkedCreditos.push(e);
                                });
                            else
                                vm.checkedCreditos = [];                                
                        },
                        BuscarCuotasPorVencer: async function () {
                            let codigoFondeador = vm.credito.codigoFondeador;

                            let desde = $("#desde").val();
                            let hasta = $("#hasta").val();

                            var formData = new FormData();
                            formData.append('pagosDesde', desde);
                            formData.append('pagosHasta', hasta);
                            formData.append('codigoFondeador', codigoFondeador);

                            this.loaderCuotas = true;

                            let cuotas = await fetch(this.api + "Cuotas/GetCuotasPorVencer", {
                                method: 'POST',
                                body: formData
                            })
                                .then(response => response.json());

                            this.loaderCuotas = false;

                            if (cuotas.length == 0) {
                                this.alertCuotasPorVencer = true;
                                return;
                            }

                            cuotas.forEach(x => {
                                x.saldo = x.nCuotaMensual - x.pagado;
                                x.aPagar = 0;
                            });

                            this.creditos.find(x=>x.codigoFondeador == codigoFondeador).cuotas

                            cuotas.forEach(c => {
                                vm.cuotas.push(c);
                                vm.creditos.find(x => x.codigoFondeador == vm.credito.codigoFondeador).cuotas.push(c);
                                vm.creditos.find(x => x.codigoFondeador == codigoFondeador).disponible = null ? vm.cuotas.filter(z => z.codigoFondeador == codigoFondeador).map(d => d.saldo).reduce((a, b) => parseFloat(a) + parseFloat(b)) : vm.cuotas.filter(z => z.codigoFondeador == codigoFondeador).map(x => x.disponible)[0]
                            });


                            this.creditos.forEach(c => {
                                let d = c.disponible;
                                vm.cuotas.filter(a => a.codigoFondeador == c.codigoFondeador).forEach(cu => {
                                    if (d >= cu.saldo) {
                                        cu.aPagar = parseFloat(cu.saldo.toFixed(2));
                                        d = d - cu.saldo;
                                    }
                                    else {
                                        cu.aPagar = parseFloat(d.toFixed(2));
                                        d = 0;
                                    }
                                });
                            });

                        }
                    },
                    computed: {
                        suma: function () {
                            let res = 0;

                            if (this.checkedCreditos.length != 0) {
                                let cuotasConMonto = this.cuotas.filter(x => this.checkedCreditos.includes(x.codigoFondeador) && x.aPagar != 0)
                                let suma = cuotasConMonto.map(x => x.aPagar).reduce((a, b) => parseFloat(a) + parseFloat(b))
                                res = this.formatMoney(suma)
                            }

                            return res;
                        },
                        elFondeador: function () {
                            if (this.fondeadores.length == 0)
                                return "";
                            else
                                return this.fondeadores.find(x => x.fondeadorID == this.f).nombre
                        },
                        elProducto: function () {
                            if (this.productos.length == 0)
                                return "";
                            else
                                return this.productos.find(x => x.nValor == this.p).cNomCod
                        }
                    },
                    async mounted() {
                        this.api = $("#endpoint").val();
                        this.domain = $("#domain").val();


                        this.PagoID = $("#PagoID").val();
                        this.f = $("#fondeador").val();
                        this.p = $("#producto").val();
                        this.mochila = $("#mochila").val() == 1 ? true : false;

                        /*
                        $("#desde").val(moment().subtract(1, 'months').format("YYYY-MM-DD"));
                        $("#hasta").val(moment().format("YYYY-MM-DD"));
                        */
                        $("#cuotasHasta").val(moment().format("YYYY-MM-DD"));

                        this.loaderFondeador = true;
                        this.loaderProducto = true;

                        fetch(this.api + "Fondeador/All")
                            .then(x => x.json())
                            .then(res => {
                                vm.fondeadores = res;
                                vm.loaderFondeador = false;
                            });

                        fetch(this.api + "Producto/All")
                            .then(x => x.json())
                            .then(res => {
                                vm.productos = res;
                                vm.loaderProducto = false;
                            });

                        this.mainSearch();

                        $('#alertaNoHayCreditos').on('closed.bs.alert', function () {
                            this.CreditosNoEncontrados = false;
                        })
                        $('#alertCuotasPorVencer').on('closed.bs.alert', function () {
                            this.alertCuotasPorVencer = false;
                        })


                    }
                });

            </script>

        }
